<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
      <% users.map(function(user){ %>
      <li><%= user.firstName %></li>
      <% }) %>
    </ul>
  </body>
</html>
